/* --------------------
        全体
-------------------- */

:root {
  --theme-color: #ffd700;
  --text-color: #333;
}

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 30px;
  color: #333;
}

/* --------------------
        見出し
-------------------- */

h1, h2, h3 {
  color: var(--text-color);
  border-bottom: dashed 0.1em var(--theme-color);
}

/* --------------------
        リンク
-------------------- */

a {
  color: var(--theme-color);
  text-decoration: none;
}

a:hover { 
        text-decoration: underline; 
}

/* --------------------
        リスト
-------------------- */

ul {
  list-style: none; /* 点を消す */
  padding-left: 0;
}

li {
  /* 左側に太さ4pxの黄色の線を引く */
  border-left: solid 4px var(--theme-color); 
  padding-left: 10px; /* 線と文字の間隔をあける */
  margin-bottom: 5px; /* 行間を少しあける */
}

/* 点（・）の設定は削除する */
li:before {
  content: none; 
}

/* --------------------
          表
-------------------- */

table {
  border-spacing: 0;
  border-collapse: collapse;
  border: solid 1px #f0f0f0;
  min-width: 70%;
}
tr {
  background-color: #fff;
}
tr:nth-child(2n) {
  background-color: #f9f9f9;
}
th {
  background: var(--theme-color);
  color: #333;
}
th, td {
  border: solid 1px #f0f0f0;
  padding: 0.5rem;
}
